<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification @ CovidHelper.com</title>
</head>

<body>
    <form action="/update/{{pid}}" method="POST">
        <input type="text" name="phone" placeholder="Please Enter Your phone number to verify">
        <input type="text" name="username" placeholder="Please Enter Your username to verify">
        <button>Proceed</button>
    </form>
</body>

</html>